html,body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #edf0ee;
}


  #carouselExampleIndicators{

    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;

  }



.inside{
  background-color: #0d0f3b;
  padding: 100px;

}

#article{
  margin-right: 450px;

}

.video{
margin-right: 400px;
}


.card{
  margin-top: 20px;
  margin-left: 100px;


}

#p{
  margin-top: 20px;
  margin-left: 100px;


}


#card-video{
  up:45px;
  position: fixed;

}

#me{
  color: white;
}


hr.light {
  border-top: 1px solid #d5d5d5;
  }


  footer {
    margin-top: 20px;
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
  }


  .nav-link {
    font-size: 1.1em
  }


  .fun {
    width: 100%;
    margin-bottom: 2rem;
  }

  .social a {
    font-size: 4.5rem;
    padding: 3rem;
  }

  .fa-facebook {
    color: #3b5998;
  }

  .fa-instagram {
    color: #517fa4;
  }

  .fa-youtube {
    color: #bb0000;
  }

  .fa-facebook:hover,
  .fa-instagram:hover,
  .fa-youtube:hover {
    color: #d5d5d5;
  }


  #connect{
    margin-top: 20px;
    padding: 20px;
    background-color: #0d0f3b;
    color: white;

    margin-left: 30px;
    margin-right: 30px;

  }

  #panel{
    margin-left: 900px;


  }









  @media (max-width: 992px) {

    .social a {
      font-size: 4em;
      padding: 2rem;
    }

    .nav-link {
      font-size: 0.8em;
    }

  }

  @media (max-width: 820px) {
    .nav-link {
      font-size: 0.7em;
    }
    .social a {
      font-size: 2.5em;
      padding: 1.2rem;
    }

  }


  @media (max-width: 576px) {

    .card-text{
      font-size: 70%;

    }

    .social a {
      font-size: 2rem;
      padding: .7rem;
    }


  #card{
    width: 20px;


  }
  .card-img-top{
    height: auto;
    width: auto;
  }

  .card-text{
    font-size: 70%;

  }

  }
